body { 
  font-family: Comfortaa, Helvetica;
  background: rgb(250,250,250);
  text-align: center;
}

.wave { 
  position: fixed;
  bottom: 20px;
  left: 0;
  height: 143px;
  width: 100%;
  background: url(/img/wave.png);
  animation: wave 10s linear infinite;
}

@keyframes wave { 
  0% { 
    background-position: 0;
  } 
  100% { 
    background-position: 1360px;
  }
}

img.logo-left { 
  position: absolute;
  top: 10px;
  left: 10px;
  height: 10%;
  width: auto;
  animation: shakingLeft 0.5s linear infinite; 
}

@keyframes shakingLeft { 
  0% { 
    transform: rotate(0deg);
  } 
  25% { 
    transform: rotate(-10deg);
  }
  50% { 
    transform: rotate(0deg);
  }
  75% { 
    transform: rotate(10deg);
  }
  100% { 
    transform: rotate(0deg);
  }
}

@keyframes shakingRight { 
  0% { 
    transform: rotate(0deg) scaleX(-1);
  } 
  25% { 
    transform: rotate(-10deg) scaleX(-1);
  }
  50% { 
    transform: rotate(0deg) scaleX(-1);
  }
  75% { 
    transform: rotate(10deg) scaleX(-1);
  }
  100% { 
    transform: rotate(0deg) scaleX(-1);
  }
}

img.logo-right { 
  position: absolute;
  top: 10px;
  right: 10px;
  height: 10%;
  width: auto;
  animation: shakingRight 0.5s linear infinite; 
}

h1 { 
  margin-top: 20px;
  font-size: 3em;
  background: #6d748c;
  display: inline-block;
  padding: 10px 30px;
  border: solid 3px #bb7365;
  color: #eeeeee;
  box-shadow: 0px 8px 32px black;
  margin-bottom: 6rem;
}

span { 
  color: salmon;
}

body > p > a { 
  display: inline-block;
  margin-top: 20vh;
  text-align: center;
}

/* bottom nav bar */

body > ul { 
  float: left;
  width: 25vw;
  font-size: 1.3em;
  margin: 30px auto;
}

body > ul > li:first-child { 
  border-left: none;
}

body > ul > li { 
  padding: 10px 0px;
}


body > nav > ul { 
  width: 100%;
  background: #6d748c;
  height: 30px;
  position: fixed;
  bottom: 0px;
  z-index: 100;
  padding-top: 10px;
  padding-bottom: 0px;
  box-shadow: -1px -1px 2px 1px rgba(50,50,50,0.4);
}

body > nav > ul > li { 
  display: inline-block;
  padding: 0px 20px;
  border-left: solid white;
  color: #eeeeee;
}

body > nav > ul > li > a { 
  color: #eeeeee;
  text-decoration: none;
}

/* CSS for tables  */

.table-title { 
  font-size: 1.8em;
  margin: 3vh 0px;
  margin-top: 8vh;
}

table { 
  width: 100px;
  margin: auto;
  margin-bottom: 50px;
  border: solid 1px #444;
  box-shadow: 0px 4px 16px;
}

th { 
  font-size: 1em;
  font-weight: bold;
  background-color: #AAA;
  padding: 0px 5px;
  padding-top: 10px;
}

td { 
  padding: 0.6em;
}

tr { 
  border-bottom: 1px solid #444;
}

tr:nth-child(even) { 
  background-color: #DDD;
}

tfoot > tr { 
  background: #AAA;
}

tr > td:first-child { 
  font-weight: bold;
}

/* Form */

main > form > fieldset > div > p > label > input { 
  margin: 0.3em;
}
main > form > fieldset > div > p { 
  float: left; 
  margin: 0.5em 1.4em auto;
  width: 11rem;
}

main > form {
  border: solid 1px #444;
  width: 80%;
  margin: 2em auto;
  background: #999;
  color: white;
}


main > form > fieldset > legend { 
  font-size: 1.4rem;
  padding-top: 0.7rem;
}

main > form > fieldset > div { 
  display: inline;
  margin: auto;
}

main > form > fieldset > button { 
  padding: 0.8em;
  font-size: 1em;
  background: #bb7365;
  margin: auto;
  margin: 1em 2em;
  box-shadow: 2px 2px 5px black;
  color: #EEE;
  border: 2px outset #b6867c ;
}

main > form > fieldset { 
  padding: 1.2em;
  width: auto;
}

/* first section  */

.first-section { 
  width: 90%;
  padding: 2em; 
  box-shadow: 0px 16px 32px rgba(0,0,0,0.75);
  /* background: rgb(248, 236, 236); */
  background: #FF8362;
  overflow: hidden;
  margin-bottom: 6rem;
}

.first-section > img { 
  float: left;
}


.first-section > p { 
  margin-left: 2em;
  font-size: 4.2em;
  /* font-family: "Lora", Helvetica; */
  font-weight: bold;
}

span.body { 
  color: rgb(250, 194, 194);
}

/* second section */


.second-section {
  background: rgb(104, 32, 18); 
  width: 70%;
  margin: auto;
  overflow: hidden;
  box-shadow: 0px 16px 32px rgba(0,0,0,0.75);
  margin-bottom: 6rem;
}

.second-section > img {
  float: right;
  padding: 1em;
  /* box-shadow: 1px 10px 25px rgba(0,0,0,0.8); */
}

.second-section > p { 
  font-weight: bold;
  font-size: 4.2em; 
  color: white;
}

/* third section  */

.third-section { 
  width: 95%;
  float: right;
  overflow: hidden;
  background: rgb(248, 236, 236);
  box-shadow: 0px 16px 32px rgba(0,0,0,0.35);
  padding: 10px;
}

.third-section > img { 
  float: left;
}

.third-section > p { 
  font-weight: bold;
  font-size: 3.8em;
  position: relative;
  margin-top: 10%;

}
span.third { 
  color: #FF8362;
}